# 协议
PROTOCOL = "http"

# 服务域
DOMAIN = "localhost"

# 服务端口
PORT = 8848

# CORS授权域名，由逗号分隔，无空格IE http://localhost:4200,http://my-domain.com
AUTHORIZED = "http://localhost:4200"

# 开启接口缓存
MEMORY_CACHE = 0

# 接口缓存生存时间(秒)
MEMORY_CACHE_DURATION = 3

# Database
DB_HOST = "localhost"
DB_PORT = 3306
DB_USER = "root"
DB_PASS = "password"
TYPEORM_DB = "template_db"
TYPEORM_DB_type = "mysql"

# 指示是否应该在每次应用程序启动时自动创建数据库模式
TYPEORM_SYNC = 0

# 是否开启 Typeorm 日志
TYPEORM_LOG = 0

# Typeorm 启用实体结果缓存
TYPEORM_CACHE = 1

# JsonWebToken 秘钥
ACCESS_TOKEN_SECRET = "hello-i-am-an-access-token-secret-passphrase"

# token 失效时间
ACCESS_TOKEN_DURATION = 120960

# api 请求前缀
API_PREFIX = "api"

# Redis host
REDIS_HOST = "localhost"

# Redis 端口
REDIS_PORT = 6379

# Redis  user
REDIS_USER = 'auth'

# Redis 数据库
REDIS_DB = 0

# Redis password
REDIS_PASS = '123456'

# Winston log 等级
LOG_LEVEL = "http"

# 当前环境
NODE_ENV = "development"


# 服务端口
PORT = 8846

# Database
DB_DEV_DATABASE = "template_test"

# Winston 日志等级
LOG_LEVEL = "http"

# Winston 日志路径根目录名
LOG_DIR = "logs"
